@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
}

/* || HEADER */

header {
  align-items: center;
  background-color: #6200ee;
  color: white;
  display: flex;
  font-size: 1.2rem;
  padding: 0.3rem;
  width: 100%;
}

header > i {
  border-radius: 10rem;
  color: white;
  cursor: pointer;
  padding: 1rem;
}

header > i:hover {
  background-color: rgba(256, 256, 256, 0.1);
}

header > i:nth-child(2) {
  margin-left: auto;
}

header > span {
  color: white;
  margin-left: 15px;
}

/* || HEADER ENDS */


main {
  display: flex;
  height: 100%;
}

/* || ASIDE - SIDEBAR(DRAWER) */

.drawer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 255px;
  height: 100%;
}

.drawer-title {
  padding: 1.1rem;
  padding-bottom: 0px;
}

.drawer-title > h1 {
  font-size: 1.3rem;
  font-weight: 400;
}

.drawer-title > p {
  color: gray;
  font-size: 0.9rem;
  font-weight: 300;
}

.drawer-item {
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  margin-top: 10px;
  padding: 0.5rem;
}

.drawer-item:hover {
  background-color: rgba(223, 223, 223, 0.5);
}

.drawer-item p {
  font-size: 0.9rem;
  margin-left: 35px;
}

.item-active {
  background-color: rgba(229, 213, 252, 0.7);
  color: #6200ee;
}

.item-active:hover {
  background-color: rgba(229, 213, 252, 1);
}

/* MAIN BODY */
.main-body {
  overflow-x: scroll;
  overflow-y: scroll;
  flex-direction: column;
  flex-grow: 1;
}

.main__body-header {
  align-items: center;
  display: flex;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
}

.main__body-header i {
  cursor: pointer;
  border-radius: 100px;
  padding: 1rem;
}

.main__body-header i:hover {
  background-color: rgba(256, 256, 256, 0.1);
}

#drawer-handler-btn {
  display: none;
}

.tab__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.tab__item {
  cursor: pointer;
  font-size: 0.9rem;
  padding: 1rem 0rem;
  text-align: center;
  width: 100%;
}

.tab__item:hover {
  background-color: rgba(98, 0, 238, 0.06)
}

.tab__item-active {
  color: #6200EE;
  border-bottom: 2px solid #6200EE;
}

.main__body-content {
  align-items: center;
  display: flex;
  justify-content: center;
  height: calc(100% - 52px);
}

/* CARD */

.card {
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  width: 350px;
}

.card-body {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-body:hover {
  cursor: pointer;
}

.card-img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-size: cover;
  width: 100%;
}

.img-tint {
  width: 350px;
  height: 370px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
}

.img-tint:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.card-title {
  padding: 1rem;
  padding-top: 20px;
}

.card-title > h1 {
  font-size: 1.3rem;
  font-weight: 500;
}

.card-title > p {
  color: gray;
  font-size: 0.85rem;
  font-weight: 400;
  padding-top: 5px;
}

.card-content {
  padding: 8px 1rem;
}

.card-content > p {
  color: gray;
  font-size: 0.9rem;
  font-weight: 300;
}

.card-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 3px 1rem;
}

.footer-left {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.footer-left > button {
  background: none;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  color: #6200ee;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.6rem 0.7rem;
}

.footer-left > button:hover {
  background-color: #ece0fd;
  border: none;
}

.footer-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.footer-right > a {
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  padding: 0.6rem;
}

.footer-right > a:hover {
  background-color: #dfdfdf;
  border: none;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: cornflowerblue;
}