@import url("./pages/installation/_installation.css");
@import url("./pages/colors/_colors.css");
@import url("./pages/utilities/utilities.css");
@import url("./pages/drawer/_drawer.css");
@import url("./pages/grid/_grid.css");

body {
  color: var(--dark);
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

/*
***************** NAVBAR *****************
*/

._navbar {
  align-items: center;
  background-color: white;
  box-shadow: var(--bs-sm);
  color: var(--dark);
  display: flex;
  padding: var(--space-sm) var(--space-xxxl);
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navbar__menu--btn {
  margin-right: var(--space-sm);
  display: none;
  cursor: pointer;
}

.navbar__logo {
  height: 50px;
  margin-right: var(--space-sm);
  width: 50px;
}

._navbar a:nth-child(5) {
  margin-left: auto;
  margin-right: var(--space-sm);
}

.navbar__ui {
  color: var(--primary);
}

.navbar__version {
  align-self: flex-end;
  color: var(--grey-3);
  font-size: var(--fs-xxs-2);
  margin-bottom: 10px;
}

.hide {
  display: none;
}

.btn-docs {
  margin-left: auto;
  margin-right: var(--space-sm)
}

body ._navbar .btn-github {
  margin-left: 0;
}

/*
***************** MAIN CONTENT *****************
*/

.maincontent {
  display: flex;
  margin-top: 83px;
  overflow-y: hidden;
}

.landingpage {
  display: initial;
  overflow-y: initial;
}

.hero1 {
  flex-direction: column;
  height: calc(100vh - 83px);
  text-align: center;
}

.hero1__proptxt {
  padding: var(--space-sm) 0;
  text-transform: uppercase;
}

.hero1__proptxt span:nth-child(1) {
  color: var(--secondary);
  margin-right: var(--space-sm);
}

.hero1__proptxt span:nth-child(2) {
  color: var(--danger);
  margin-right: var(--space-sm);
}

.hero1__proptxt span:nth-child(3) {
  color: var(--success);
}

.hero1__movenext {
  transform: rotate(180deg);
}

.hero1 a:nth-child(5) {
  bottom: 50px;
  padding: 1rem;
  position: absolute;
}

.hero1 a:nth-child(5):hover {
  background-color: var(--grey-1);
  border-radius: var(--br-full);
  transition: 0.2s ease-in;
}

.hero2,
.hero3 {
  flex-direction: row;
  padding: var(--pd-xxxl);
}

.hero2__image,
.hero3__image {
  width: 100%;
}

.hero2-text {
  -webkit-text-stroke: 2px var(--primary);
  color: white;
  font-size: var(--fs-xxl-2);
  font-weight: var(--fw-7);
  line-height: 1;
  text-shadow: 6px 8px 8px rgba(3,144,226,0.77);
  text-transform: uppercase;
}

.maincontent__content {
  display: flex;
  flex-direction: column;
  flex: 2.5;
  justify-content: space-between;
  overflow-y: scroll;
  padding: var(--space-xl) var(--space-xl) 0 var(--space-sm);
  width: 100%;
  scroll-behavior: smooth;
}

.maincontent__content--desc {
  padding: var(--space-md) 0;
}

.maincontent__content--info {
  padding: var(--space-sm) 0;
  margin-bottom: var(--space-sm);
}

.code__wrapper {
  width: 100%;
  height: fit-content;
}

.code {
  font-size: var(--fs-xs-2);
}

.code-embed {
  margin: 0;
}

.code-embed > code.tag,
.code-embed > code.html {
  border-radius: var(--br-lg);
  padding: 0 var(--space-xl) 0 var(--space-md);
  max-height: 600px;
  overflow-y: scroll;
}

pre code.hljs {
  max-width: 100%;
  padding: 0;
  white-space: pre-wrap;
  overflow-x: auto;
}

.code-embed {
  position: relative;
}

.copy-btn{
  position: absolute;
  top: 55px;
  right: 5px;
  background-color: rgba(0, 0,0, 0);
  border: none;
  cursor: pointer;
  height: 45px;
  width: 45px;
}

.copy-btn:hover {
  border-radius: var(--br-full);
  background-color: white;
  transition: 0.2s ease-in-out;
}

.word-highlight-red {
  font-weight: 500;
  color: var(--danger);
}

.classname-highlight {
  font-family: "Space Mono", monospace;
  color: var(--primary);
  background-color: #282c34;
  border-radius: var(--br-xs);
  padding: 2px 8px;
}

.navigation__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--space-md);
}

.navigation__wrapper--item {
  color: var(--dark);
}

.navigation__wrapper--item:hover {
  color: var(--primary);
  transition: 0.2s ease-in;
}

.example__wrapper {
  margin: var(--space-lg) 0;
}

.space-between-font {
  padding: 0 var(--space-xs);
}

.icon-light-background {
  background-color: var(--primary);
  width: 60px;
  height: 60px;
}

/*
***************** SIDEBAR *****************
*/

.maincontent__sidebar--left {
  flex-basis: 280px;
  height: calc(100vh - 83px);
  overflow-y: scroll;
  padding: var(--space-sm);
  padding-left: 0;
}

.list__subheading {
  font-size: var(--fs-xxs-2);
}

.maincontent__sidebar--left .drawer .drawer__list .drawer__item > img {
  margin-left: var(--space-sm);
}

.maincontent__sidebar--right {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: var(--space-xl);
}

.maincontent__sidebar--right > a {
  align-items: center;
  color: var(--grey-5);
  display: flex;
  padding-bottom: var(--space-sm);
}

.maincontent__sidebar--right > a:hover {
  color: var(--primary);
  transition: 0.2s ease-in;
}

.maincontent__sidebar--icon {
  margin-right: var(--space-xxxs);
  transform: rotate(90deg);
}

.rotate90 {
  transform: rotate(-90deg);
}

.maincontent__sidebar--right--title {
  padding-bottom: var(--space-md);
}

.sidebar__close--btn {
  position: fixed;
  top: 10px;
  left: 200px;
  width: 40px;
  height: 40px;
  padding: 1rem;
  border-radius: var(--br-full);
}

.social-media-buttons-gap {
  gap: var(--space-sm);
}

.input-eg {
  width: min(450px, 90%);
  margin: auto;
}

.bring-to-top {
  z-index: 999;
}

/*
***************** FOOTER *****************
*/

.footer {
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: auto;
  padding: var(--space-xl) var(--space-xxxl) var(--space-xs) var(--space-xxxl);
  width: 100%;
}

.footer__content {
  gap: var(--space-md);
  margin-bottom: var(--space-xl);
}

.footer__left {
  flex: 3;
  font-size: var(--fs-xs-2);
}

.footer__left--content {
  width: min(100%, 330px);
}

.footer__left--socials {
  display: flex;
  gap: var(--space-sm);
  margin: var(--space-sm) 0;
}

.footer__right {
  flex: 1;
  height: 100%;
}

.footer__right {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-xs-2);
}

.footer__right > a {
  color: var(--light);
}

.footer__right > a:hover {
  background-color: initial;
  color: var(--primary);
  transition: 0.2s ease-in;
}

.footer__copyright {
  text-align: center;
}

.footer__copyright > a {
  color: var(--primary);
}

.footer__end {
  border-top: 1px solid var(--grey-1);
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: var(--space-md);
}

.footer__end > p {
  text-align: left;
}

.footer__end > a {
  color: var(--grey-3);
}

.footer__content--contributelink {
  color: var(--primary);
}

.maincontent__content .footer {
  background-color: initial;
  color: var(--grey-3);
  font-size: var(--fs-xs-1);
  justify-content: space-between;
  padding: var(--space-xl) var(--space-sm) var(--space-sm);
  text-align: start;
}

.footer__break {
  display: none;
}

/*
***************** ANIMATIONS *****************
*/
.shake-vertical {
  -webkit-animation: shake-vertical 2s steps(10, end) infinite both;
  animation: shake-vertical 2s steps(10, end) infinite both;
}

@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}

/*
***************** MEDIA QUERIES *****************
*/

@media screen and (max-width: 1024px) {
  .maincontent__sidebar--right {
    display: none;
  }

  .maincontent__sidebar--left {
    flex-basis: 240px;
  }
}

@media screen and (max-width: 768px) {
  ._navbar {
    padding: var(--space-sm) var(--space-lg);
  }

  .hero2,
  .hero3 {
    padding: var(--pd-lg);
  }

  .maincontent__sidebar--left {
    flex-basis: 200px;
  }

  .hero1__proptxt {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 640px) {
  .navbar__logo {
    display: none;
  }

  .navbar__menu--btn {
    display: initial;
  }

  .maincontent {
    margin-top: 69px;
  }

  .maincontent__content {
    padding: var(--space-md) var(--space-md) 0;
  }

  .maincontent__sidebar--left {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: hidden;
    cursor: pointer;
  }

  #sidebar-el {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    z-index: 3;
    background-color: white;
    overflow-y: scroll;
  }

  .footer {
    padding: var(--space-xxl) 0 var(--space-xs);
    align-items: center;
    text-align: center;
  }

  .footer__break {
    display: block;
  }

  .maincontent__content .footer {
    flex-direction: column;
  }

  .footer__end {
    padding-top: var(--space-md);
    flex-direction: column;
    align-items: center;
  }

  .footer__end > p {
    text-align: center;
  }

  .footer__end > a:nth-child(2) {
    order: -1;
  }

  .footer__right {
    display: none;
  }

  .footer__left--socials {
    justify-content: center;
  }

  .footer__left--content {
    width: 100%;
  }

  .navigation__wrapper {
    width: 100%;
  }

  .hero2,
  .hero3 {
    flex-direction: column;
    padding: var(--pd-sm);
  }

  .hero2 > .bd-5,
  .hero3 > .bd-5 {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  :root {
    font-size: 58%;
  }

  .navbar__logo {
    height: 30px;
    width: 30px;
    margin-right: var(--space-xs);
  }

  ._navbar .h-4 {
    font-size: var(--fs-lg-1);
  }

  ._navbar .button {
    padding: var(--pd-xs);
  }
}
