.eg__wrapper {
  background-color: var(--grey-1);
  margin: var(--space-md) 0;
  padding: var(--space-xl);
  width: 100%;
}

.eg {
  background-color: var(--danger);
  border-radius: var(--br-sm);
  height: 80px;
  width: 80px;
}
