.drawer__container {
  border: 2px solid var(--dark);
  display: flex;
  height: 400px;
  overflow: hidden;
  width: 100%;
}

.drawer__wrapper {
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  overflow-y: scroll;
}

.body__aside--drawer {
  background-color: var(--grey-1);
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
  overflow-y: scroll;
  padding: var(--pd-sm);
}
