.drawer__container {
    width: 100%;
    display: flex;
    border: 2px solid var(--dark);
    overflow: hidden;
    height: 400px;
}

.drawer__wrapper {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    overflow-y: scroll;
    height: 100%;
}

.body__aside--drawer {
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: scroll;
    height: 100%;
    background-color: var(--grey-1);
    padding: var(--pd-sm);
}